<!Doctype>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>New Pet</title>

    <!-- CSS Files-->
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
<div class="container text-center">

    <!-- If submission was successful, display a confirmation -->
    <check if="{{ @success }}">
        <h2>Thank you for your order of a {{@color}} {{ @type }} named {{@name}}</h2>
    </check>

    <!-- Above each form control, display an error message if it is set in the errors array -->

    <h2>Order a Pet</h2>
    <form action="#" method="post">

        <!-- Pet Name -->
        <div>
            <check if="{{ isset(@errors['name']) }}">
                <p>{{ @errors['name'] }}</p>
            </check>
        </div>

        <label class='form-control-label'>Pet Name<input class='form-control' type='text' name='petName' value="{{ @name }}"></label>

        <!-- Pet Color -->
        <div>
            <check if="{{isset (@errors['color']) }}">
                <p>{{ @errors['color'] }}</p>
            </check>
        </div>

        <label>Pet Color
            <select class="form-control" name="pet-color" id="pet-color">
                <option>--Select--</option>
                 <repeat group=" {{@colors}}" value="{{ @colorOption}}">
                 <!--<option> {{ @colorOption }}</option>-->
                     <option
                         <check if="{{@colorOption == @color}}">selected</check>>
                         {{@colorOption}}
                     </option>
                </repeat>
            </select>
        </label>

        <!-- Pet Type -->
        <div>
            <check if="{{ isset(@errors['type']) }}">
                <p>{{ @errors['type'] }}</p>
            </check>
        </div>
        <label class='form-control-label'>Pet Type <input class='form-control' type='text' name='petType' value="{{ @type }}"></label> <br>

        <!-- Submit Button -->
            <input class='btn btn-info mt-2' type='submit' name='submit' value="Submit">

    </form>
</div> <!-- container -->



<!-- Scripts -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>